@import "../components/variables";
.servicios {
    background-color: $color-white;
    padding-bottom: 20px;
}

.servicio-item {
    margin-top: 0px;
    text-align: center;
    .fa {
        font-size: 4em;
        margin: 25px 5px;
        color: rgb(52, 52, 52);
    }
}

.servicio-title {
    color: $color-black;
    font-weight: 300;
    letter-spacing: 3px;
    span {
        background-color: $color-yellow;
    }
}

.servicio-description {
    color: #4a4a4a;
    width: 80%;
    margin: 5px auto 15px auto;
}

hr {
    width: 75%;
    height: 1px;
    background-color: rgb(198, 198, 198);
    border-width: 1px;
}


/* Media Queries */


/* TABLETS */

@media screen and (min-width: $break-small) {
    .servicios {
        display: flex;
        flex-wrap: wrap;
    }
    .servicio-item {
        flex: 0 50%;
        box-sizing: border-box;
    }
    hr {
        display: none;
    }
}


/* DESKTOP */

@media all and (min-width: $break-large) {
    .servicio-item {
        flex: 0 33%;
    }
    .servicios {
        font-size: 15px;
    }
}